.header {
  grid-area: h;
  padding-left: 25px;
  height: 100px;
  line-height: 100px;
}
  
.header img {
  height: 60px;
  vertical-align: middle;
}
.header span {
  padding-left: 10px;
  font-size: 20px;
}