.pagination {

}

.pagination span{
  cursor: pointer;
}
.pagination span:hover{
  opacity: 0.7;
}

.selectedPage {
  font-weight: bold;
}

.pageNumber {
  margin: 0 2px;
}

.btnPagination {
  vertical-align: text-top;
  margin: 0 10px;
}