.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogItems {
    padding: 25px;
}
.dialog {
    max-height: 50px;
    display: table;
}
.dialog a{
    color: gray;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.dialog img{
    height: 30px;
}
.dialog a.activeLink {
    color: black;
}
.messages {
    padding: 25px;
    display: block;
}

.message {
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 20px;
    display: table;
    margin-bottom: 10px;
}